/* Global resets and shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;;
  background: /*var(--bg-color)*/ white;
  color: var(--text-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 8em;
  width: inherit;
  z-index: 10;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  padding: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  background: white;
  color: var(--footer-color);
  text-align: center;
  width: 100%;
  height: 70px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Common elements */
button {
  background: green;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}