/* Global resets and shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
}

header {
  background: /*var(--bg-color)*/ white;
  color: var(--text-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  min-height: 8em;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  padding: 2rem;
}

footer {
  background: black;
  color: var(--footer-color);
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Common elements */
button {
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
  transition: ease-in-out 5s;
}

form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}