.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.cartContainer h1 {
    font-size: 3em;
}

.cartContainer button {
    background: var(--accent2);
    color: var(--accent1);
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
}

.cartContainer button:hover {
    transform: scale(1.05);
    background: var(--accent1);
    color: var(--accent2)
}

.cartContainer h3 {
    font-size: 25px;
}

.cartContainer p {
    font-size: 18px;
}

.cartContainer a{
    color: var(--accent1)
}

.cartContainer a:hover {
    text-decoration: underline;
}

.cartItemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

#dash {
  width: 100%;
  height: 1px;
  align-self: center;
  margin: 0;
  border: 1px solid var(--footer-color);
}

.cartItemCard #main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cartItemDeets {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}

#deets h3 {
    font-size: 20px;
}

#deets p {
    font-size: 16px;
}

.cartItemCard img {
    object-fit: cover;
    height: 80px;
    width: 80px;
}

#cartItemQty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#cartItemQty i {
    cursor: pointer;
    font-size: 15px;
}

#cartItemPrice {
    align-self: center;
    text-align: right;
    width: 150px;
}

#estimatedTotal {
    margin-top: 60px;
}

#finalCheck {
    padding: 5px 100px;
}

#finalHref {
    font-size: 25px;
}