.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px;
}

.cartContainer h1 {
    font-size: 3em;
}

.cartContainer button {
    background: var(--accent2);
    color: var(--accent1);
    border-radius: 5px;
    padding: 10px;
    font-size: 2em;
}

.cartContainer button:hover {
    transform: scale(1.05);
    background: var(--accent1);
    color: var(--accent2)
}

.cartContainer h3 {
    font-size: 25px;
}

.cartContainer p {
    font-size: 18px;
}

.cartContainer a{
    color: var(--accent1)
}

.cartContainer .product-link {
    text-decoration: none;
}

.cartContainer .product-link:hover {
    text-decoration: none;
}

.cartContainer a:hover {
    text-decoration: underline;
}

.cartItemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

#dash {
  width: 100%;
  height: 1px;
  align-self: center;
  margin: 0;
  border: 1px solid var(--footer-color);
}

.cartItemCard #main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cartItemDeets {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}

#deets h3 {
    font-size: 20px;
}

#deets p {
    font-size: 16px;
}

.cartItemCard img {
    object-fit: cover;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.cartItemCard img:hover {
    transform: scale(1.05);
}

#cartItemQty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#cartItemQty i {
    cursor: pointer;
    font-size: 15px;
}

#cartItemPrice {
    align-self: center;
    text-align: right;
    width: 150px;
}

#estimatedTotal {
    margin-top: 60px;
}

#esTotalDash {
  width: 100%;
  height: 1px;
  align-self: center;
  margin: 0;
  border: 1px solid var(--footer-color);
}

#finalCheck {
    padding: 5px 100px;
}

#finalHref {
    font-size: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .cartContainer {
        padding: 0;
        margin-bottom: 20px;
        gap: 10px;
    }

    .cartContainer h1 {
        font-size: 2em;
    }

    .cartContainer button {
        font-size: 1em;
        padding-left: 25px;
        padding-right: 25px;
    }

    .cartContainer h3 {
        font-size: 18px;
    }

    #dash {
        margin-bottom: 10px;
    }

    .cartItemCard #main {
        flex-direction: column;
    }

    #cartItemDeets {
        width: 100%;
    }

    #deets h3 {
        font-size: 15px;
    }

    #deets p {
        font-size: 15px;
    }

    #cartItemQty {
        gap: 10px;
        width: 100%;
        justify-content: right;
        margin-top: 10px;
    }

    #cartItemQty p, i {
        font-size: 13px;
    }

    #cartItemPrice {
        text-align: right;
        width: 100%;
    }

    #estimatedTotal {
        margin-top: 30px;
    }

    #finalHref {
        font-size: 18px;
    }
}