

header #headerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#headerLogo h1 {
    font-size: 4rem;
    color: var(--accent1)
}

 header img {
    height: 100px;
    object-fit: contain;
}

#headerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerIcons i {
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
    color: var(--footer-color);
}

main {
    display: flex;
    flex-direction: column;
    background: /*red*/ inherit;
    width: 100%;
    min-height: 100vh;
}

.card-container {
    background: white;
    display: flex;
    padding: 2rem;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 15px 0 15px;
}

.card-container .card {
    height: 22em;
    width: 17em;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    /*border: 1px solid black;*/
    height: 18em;
    width: 17em;
    object-fit: contain;
}

.card button {
    background: transparent;
    font-size: 15px;
}

#viewAllbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    /* make the button center within the flex row and horizontally centered
       when it wraps to its own line */
    margin: 20px auto 0;
    align-self: center;
    background: white;
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--accent1);
    border-radius: 10px;
    cursor: pointer;
}

/*#viewAllbtn:hover {
    background: var(--hover);
    color: var(--bg-color);
}*/

#dash {
  width: 100%;
  height: 1px;
  align-self: center;
  margin-top: 20px;
  border: 1px solid var(--footer-color);
}

main .infoSec {
    display: flex;
    justify-content: center;
    margin: 0 15px 0 15px;
    width: 100%;
}

#infoLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;
}

#infoLogo h1 {
    font-size: 6rem;
    color: var(--accent1)
}

#infoLogo img {
    height: 150px;
    object-fit: contain;
}

#info {
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
}

#info p {
    font-size: 25px;
}

#info h3 {
    color: var(--footer-color);
}


#info a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}