#productsDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#productsDetail img {
    height: 45em;
    width: 50%;
    object-fit: cover;
    /*border: 1px solid red;*/
}

#productsDetail .details {
    /*border: 1px solid red;*/
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details h1 {
    font-size: 3em;
    color: var(--text-color);
}

.details p {
    font-size: 20px;
}

.details h3 {
    font-size: 1.5em;
    color: green;
}

.details label {
    font-size: 15px;
}

.details #sex, #qty{
    font-size: 20px;
    width: 70%;
}

.details button{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--accent1);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.details button:hover {
    background: var(--accent1);
    color: var(--bg-color);
}

#buyNow {
    background: var(--accent2);
    color: var(--accent1);
    border: none;
}

#buyNow:hover {
    background: var(--accent1);
    color: var(--accent2);
}

#addedCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
    border: 1px solid black;
}

#addedCard h5 {
    align-self: flex-start;
    margin: 10px;
    font-size: 15px;
}

#addedCardDetails {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#addedCard img {
    object-fit: cover;
    height: 80px;
    width: 80px;
}

#addedCard p {
    font-size: 16px;
}

#addedCard #viewCart {
    width: 220px;
}

#addedCard #checkout {
    background: var(--accent2);
    color: var(--accent1);
    border: none;
}

#addedCard #checkout:hover {
    background: var(--accent1);
    color: var(--accent2);
}

#addedCard a {
    margin-top: 10px;
    color: var(--accent1);
}

#addedCard a:hover {
    text-decoration: underline;
}

#relatedProducts {
    margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 767px) {
    main {
        padding: 0;
    }

    #productsDetail {
        flex-direction: column;
        gap: 10px;
    }

    #productsDetail img {
        width: 100%;
        height: 25em;
    }

    #productsDetail .details {
        width: 100%;
        padding: 10px;
    }

    .details h1 {
        font-size: 2em;
    }

    .details p {
        font-size: 15px;
    }

    .details h3 {
        font-size: 1em;
    }

    .details label {
        font-size: 18px;
    }

    .details #sex, #qty {
        width: 100%;
    }

    .details button {
        align-self: center;
        width: 100%;
    }

    #addedCard {
        min-height: 100px;
        min-width: 100px;
    }

    #addedCard img {
        height: 90px;
        width: 90px;
    }

    #addedCardDetails {
        margin: 0;
        gap: 10px;
    }

    #addedCard #checkout {
        width: 220px;
    }
}