@font-face {
    font-family: "OurFont";
    src:url(/fonts/HostGrotesk-VariableFont_wght.ttf);
}

:root {
    --bg-color: /*green*/ white;
    --accent1: rgb(237, 69, 0);
    --accent2: blue;
    --text-color: black;
    --footer-color: gray;
    --hover: green;
}

.darkmode {
    --bg-color: black;
}