@font-face {
    font-family: "OurFont";
    src:url(/fonts/HostGrotesk-VariableFont_wght.ttf);
}

:root {
    --bg-color:  white;
    --accent1: rgb(237, 69, 0);
    --accent2: blue;
    --text-color: black;
    --footer-color: gray;
    --hover: green;
    --box-shadow: rgba(0, 0, 0, 0.25);
}

.darkmode {
    --bg-color: black;
    --box-shadow: rgba(255, 255, 255, 0.25);
}